.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #678efd;
    height: 60px;
}

.title {
    margin-left: 10px;
    color: white;
    font-size: 30px;
    font-family: "Lucida Console", Courier, monospace;
}

.welcome {
    color: white;
    font-size: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-right: 10px;
    z-index: 1000;
}